{% extends 'main/base.html' %}

{% block title %}Medical Report Creator{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" action="{% url 'create_medical_report' %}">
        {% csrf_token %}
        {{form|crispy}}

        <label>Date</label>
        <input type="text" name="date" placeholder="dd/mm/yyyy" required="" class="form-control"><br>
        <label>Time</label>
        <input type="text" name="time" placeholder="hh:mm (am/pm)" required="" class="form-control"><br>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect02">Select Patient</label>
            </div>
            <select class="custom-select" name="patient">
                {% for i in patient_names %}
                <option  value="{{i.pk}}">{{i.full_name}}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect03">Select Doctor</label>
            </div>
            <select class="custom-select" name="doctor">
                {% for i in doctor_names %}
                <option  value="{{i.pk}}">{{i.full_name}}</option>
                {% endfor %}
            </select>
        </div>

        <label for="symptoms">Symptoms</label>
        <input type="text" name="symptoms" placeholder="eg.: nausea, headaches..." class="form-control"><br>
        <label for="prescription">Pescription</label>
        <input type="text" name="prescription" class="form-control"><br>

        <button type="submit" class="form-control btn-success">Submit</button><br>
    </form>
    <a href="/doctor_menu" class="btn btn-dark" role="button">Go back to the Main Menu</a>
{% endblock %}
